Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
test-driver
.deps
.dirstamp
.libs
*.gir
*.la
*.lo
*.log
*.o
*.pc
*.trs
*.typelib
